STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=

NUXT_PUBLIC_SITE_URL=http://localhost:3000

NUXT_DEEPSEEK_API_KEY=
NUXT_DEEPSEEK_MODEL=deepseek-v4-flash
NUXT_DEEPSEEK_BASE_URL=https://api.deepseek.com

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NUXT_CACHE_BASE=cache
